/* CSS declarations go here */
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}

main{
    flex: 1 0 auto;
}

.challenge-friend{
    cursor: pointer;
}

.rand-friend{
    cursor: pointer;
}

nav{
   background-color:cadetblue;
}

footer.page-footer{
    background-color:cadetblue;
}

body{
    background-color: #E5E0E0;
}

